<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout.html}">
<section layout:fragment="content">
	<a class="btn btn-secondary my-2" th:href="${previousUrl ?: '/schedule'}" th:text="'Back'"></a>
	<h1 class="py-2" th:text="'New Schedule'"></h1>

	<!-- Schedule Form -->
    <div th:replace="~{fragments/schedule-form :: scheduleForm(
		courses=${courses},
        actionUrl=@{/schedule/create},
		types=${types},
		scopes=${scopes},
		)}"></div>
</section>
</html>